<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76e262">  <td>21/05/06 13:48:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.wrkout.framework.runner.LoginRunner@3382cf68]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13950734</td>   <td></td> </tr>
<tr bgcolor="76e262">  <td>21/05/06 13:48:43</td>   <td>2052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.wrkout.framework.runner.LoginRunner@3382cf68]">feature</td> 
  <td>main@13950734</td>   <td></td> </tr>
<tr bgcolor="76e262">  <td>21/05/06 13:50:35</td>   <td>113650</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.wrkout.framework.runner.LoginRunner@3382cf68]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13950734</td>   <td></td> </tr>
<tr bgcolor="76e262">  <td>21/05/06 13:50:35</td>   <td>113677</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.wrkout.framework.runner.CreateEventRunner@2f74900b]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13950734</td>   <td></td> </tr>
<tr bgcolor="76e262">  <td>21/05/06 13:50:35</td>   <td>113788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.wrkout.framework.runner.CreateEventRunner@2f74900b]">feature</td> 
  <td>main@13950734</td>   <td></td> </tr>
<tr bgcolor="76e262">  <td>21/05/06 13:51:38</td>   <td>176805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.wrkout.framework.runner.CreateEventRunner@2f74900b]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13950734</td>   <td></td> </tr>
</table>
